extends base/_base

block title
    title="Title page"
    //title your page 'about-us' example

block content
    main
        div this is page-2
        a(href="index.html") go to index

//- connect only custom js
block scripts